{% extends 'main.html' %}

{% block home_link %}<a href="/" class="nav-link active" aria-current="page">{% endblock %}
{% block setup_link %}<a href="/setup" class="nav-link text-white">{% endblock %}
{% block help_link %}<a href="/help" class="nav-link text-white">{% endblock %}

{% block main_page %}
<div class="container mx-1 my-1">
<div class="head_container mx-4 my-4">
  <h3>Устройства</h3>
  <hr>
</div>
<div class="devices_container mx-4 my-4">
{% for device in device_list %}
<div class="device">
<div class= "mx-2 my-1"><center><h5>{{device[0]}}</h5></center></div>
<div class= "mx-2 my-1"><center><h6><i>GPIO pin: {{device[3]}}</i></h6></center></div>
{% if device[2] == "switch" %}
  <div class= "mx-2 my-1"><center><h6><i>Status: {{device[1]}}</i></h6></center></div>
{% endif %}
<div class="my-2"><center>
  {% if device[2] == "switch" %}
    {% if device[1] == "off" %}
      <form action="/changestate" method="post">
        <input style="display: none;" name="device_name" value="{{device[0]}}">
        <input type="submit"  value="On" class="btn btn-sm btn-primary">
        <button disabled type="button" class="btn btn-sm btn-secondary">Off</button>
      </form>
    {% else %}
      <form action="/changestate" method="post">
        <button disabled type="button" class="btn btn-sm btn-secondary">On</button>
        <input style="display: none;" name="device_name" value="{{device[0]}}">
        <input type="submit" value="Off" class="btn btn-sm btn-primary">
      </form>
    {% endif %}
  {% else %}
    <form action="/changestate" method="post">
      <input style="display: none;" name="device_name" value="{{device[0]}}">
      <input type="submit" value="Click" class="btn btn-sm btn-primary">
    </form>
  {% endif %}
  </center></div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
