{% extends 'main.html' %}

{% block home_link %}<a href="/" class="nav-link active" aria-current="page">{% endblock %}
{% block setup_link %}<a href="/setup" class="nav-link text-white">{% endblock %}
{% block help_link %}<a href="/help" class="nav-link text-white">{% endblock %}

{% block main_page %}
<div class="container mx-1 my-1">
<div class="head_container mx-4 my-4">
  <h3>Устройства</h3>
  <hr>
</div>
<div class="devices_container mx-4 my-4">
{% for device in device_list %}
<div class="device">
<div class= "mx-2 my-1"><center><h5>{{device[0]}}</h5></center></div>
<div class= "mx-2 my-1"><center><h6><i>GPIO pin: {{device[3]}}</i></h6></center></div>
<div class="my-2"><center>
  {% if device[2] == "switch" %}
    {% if device[1] == "off" %}
      <button type="button" class="btn btn-sm btn-primary">On</button>
      <button disabled type="button" class="btn btn-sm btn-secondary">Off</button>
    {% else %}
      <button disabled type="button" class="btn btn-sm btn-secondary">On</button>
      <button type="button" class="btn btn-sm btn-primary">Off</button>
    {% endif %}
  {% else %}
    <button type="button" class="btn btn-sm btn-primary">Click</button>
  {% endif %}
  </center></div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
